<% @posts.each do |p| %>
  <div class="row d-flex mt-4">
    <div class="col">
      <div class="card shadow-sm mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title"><%= p.username %></h5>
          <hr>
          <p class="card-text"><%= p.message %></p>
          <hr>
          <p class="small m-0 p-0">  <%= p.created_at.strftime('%FT%T') %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
